<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>
      {% if title %}
      {{ title }}
      {% else %} Vehicle Distance Monitoring
      {% endif %}
    </title>
  </head>
  <body class="my-auto w-full bg-gray-200">
    <div class="max-w-screen-lg mx-auto">
      {% block content %}

      {% endblock content %}
    </div>
  </body>
</html>
