{% extends 'base.html' %} {% block content %}
<script type="text/javascript">
    function startStream(btn) {

        var streamPath = $("#inputPath").val();
        var feedPath = "video_feed/";
        var targetUrl = feedPath.concat(streamPath) 
        $("#feed").attr("src", targetUrl); 

    }
</script>

<main class="mt-10">

    <div class="mb-4 md:mb-0 w-full mx-auto relative">
      <div class="px-4 lg:px-0">
        <h2 class="text-4xl text-center font-semibold text-gray-800 leading-tight">
            Vehicle Distance Monitoring
        </h2>
      </div>

    </div>

<div class="bg-white rounded shadow p-6 m-4 w-full lg">
    <div class="mb-4">
      <img id="feed" src="" class="w-full object-cover shadow-inner border-none bg-gray-400" style="min-height: 480px; min-width: 640px;" />
      <div class="flex mt-4">
        <input
          id="inputPath"
          class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
          placeholder="Add Source (use path for HTTP or RTSP stream, use digit for your connected webcam device )"
          value="rtsp://170.93.143.139/rtplive/470011e600ef003a004ee33696235daa"
        >
        <button
          class="flex-no-shrink p-2 border-2 rounded text-teal-500 border-teal hover:text-white hover:bg-teal-500"
          onclick="startStream(this)"
        >
          Start Monitoring
        </button>
      </div>
    </div>
</div>

</main>
{% endblock %}