{% extends 'base.html' %} {% block content %}
<script type="text/javascript">
    function disableButton(btn) {

        $("#feed").attr("src", "{{ url_for('video_feed') }}"); 
        
    }
</script>

<main class="mt-10">

    <div class="mb-4 md:mb-0 w-full mx-auto relative">
      <div class="px-4 lg:px-0">
        <h2 class="text-4xl text-center font-semibold text-gray-800 leading-tight">
            Vehicle Distance Monitoring
        </h2>
      </div>

    </div>

<div class="bg-white rounded shadow p-6 m-4 w-full lg">
    <div class="mb-4">
      <img id="feed" src="" class="w-full object-cover"/>
      <div class="flex mt-4">
        <button
          class="flex-no-shrink p-2 border-2 rounded text-teal-500 border-teal hover:text-white hover:bg-teal-500"
          onclick="disableButton(this)"
        >
          Start Monitoring
        </button>
      </div>
    </div>
</div>

</main>
{% endblock %}